@font-face{
  src:url(/fonts/Palatino-Italic-02.ttf);
  font-family:Palatino;
  font-weight:400;
  font-style:italic;
}

@font-face{
  src:url(/fonts/nike_futura_cn-xb.ttf);
  font-family:FuturaNike;
  font-weight:400;
  font-style:normal;
}

.font-palatino {
	font-family: "Palatino","Palatino",serif;

}

.font-future {
	font-family: "FuturaNike","FuturaNike",sans-serif;

}